INCLUDES = -I /usr/include/httpd -I /usr/include/apr-1
DEST = /usr/lib/apache2/modules
HTTP_INCLUDES_PATH = /usr/include/httpd
APSX = apxs
SUDO = sudo
LIBTOOL = /usr/lib64/apr-1/build/libtool
#DEBUG = -DDEBUG
